---
// src/pages/blog/[id].astro
import { client } from "../../lib/microcms";

// 1. 全記事のIDを取得して、どのURL（ページ）を作るかAstroに教える
export async function getStaticPaths() {
  const response = await client.get({ endpoint: "info" });
  return response.contents.map((content: any) => ({
    params: { id: content.id },
  }));
}

// 2. 特定の記事の本文を取得する
const { id } = Astro.params;
const post = await client.getListDetail({
  endpoint: "info",
  contentId: id,
});
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/th_test/microcms/css/style.css">
</head>
  <body>
    <h1>{post.title}</h1>
    <article>
      {post.content}
    </article>
    <h2>繰り返しフィールド</h2>
    <div class="goods c-flex p-flyer__flex">
      {post.goods && post.goods.map((item :any) => (
        <div class="goods-item p-flyer__box">
          {item.img}
          <h3>{item.name}</h3>
          <p>{item.price}</p>
          <p>{item.discription}</p>
        </div>
      ))}
    </div>
    
    <footer id="footer"></footer>
    <script src="./script/script.js" is:inline></script>
  </body>
</html>